body {
  margin: 0;
  font-family: Sohne-war -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --gradient-color-1: #f20854;
  --gradient-color-2: #6ec3f4;
  --gradient-color-3: #ffb857;
  --gradient-color-4: #ba52ee;
  --gradient-color-5: #be5cc0;
  --gradient-color-6: #d89997;
  --white-clr: #fff;
  --title-clr: #425466;
  --dark-grey-clr: #0a2540;
}

/* GRADIENT */
#gradient-canvas {
  width: 100%;
  height: 100%;
  --gradient-color-1: var(--gradient-color-1);
  --gradient-color-2: var(--gradient-color-2);
  --gradient-color-3: var(--gradient-color-3);
  --gradient-color-4: var(--gradient-color-4);
  --gradient-color-5: var(--gradient-color-5);
  --gradient-color-6: var(--gradient-color-6);
  clip-path: polygon(0 0, 100% 0, 100% 39%, 0% 100%);
}

.gradient-background {
  position: absolute;
  top: 0;
  z-index: -2;
}

/* nav h1 {
  font-size: 86px;
  line-height: 6rem;
  position: absolute;
  top: 11.5rem;
  left: 20rem;
  color: #171717;
  margin-right: 3rem;
} */

.title-container {
  position: absolute;
  color: #425466;
  top: 35rem;
  max-width: 25%;
  left: 20rem;
  font-size: 1.3rem;
  letter-spacing: 0.2px;
  line-height: 2rem;
}

.navbar-container {
  display: flex;
  align-items: center;
  color: white;
  text-transform: capitalize;
  justify-content: space-between;
  max-width: 60%;
  margin: -0.3rem auto;
  font-weight: 700;
}
.logo {
  font-size: 1.5rem;
  text-transform: lowercase;
}

.navbar-container ul {
  list-style: none;
  display: flex;
}

.navbar-container ul li {
  margin-right: 2rem;
}

.title-container p {
  margin-bottom: 3rem;
}

/* Buttons */

.navbar-container button,
.title-container button {
  border-color: transparent;
  padding: 0.2rem 1rem;
  border-radius: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar-container button {
  color: white;
  background-color: hsla(0, 0%, 100%, 0.2);
  font-weight: 600;
  padding: 0.5rem 1.2rem;
}

/* .title-container .btn-container {
  display: flex;
  justify-content: space-between;
  max-width: 63%;
} */

.btn-container .start {
  background-color: #0a2540;
  padding: 0.5rem 1.3rem;
  color: white;
  font-weight: 500;
}

.btn-container .start:hover {
  background-color: #6d7c8c;
}

.btn-container .contact {
  background-color: transparent;
}

button .icon {
  margin-left: 0.3rem;
}

.image-container {
  white-space: nowrap;
  position: absolute;
  top: 7rem;
  left: calc(100vw - 35vw);
}

.iphone-img {
  box-shadow: 8px 5px 50px 8px rgba(149, 143, 142, 0.88);
  border-radius: 50px;
  z-index: 2;
  position: absolute;
  left: -7rem;
  top: 3rem;
}

.stripe-img {
  right: 5rem;
  width: 45rem;
  border-radius: 10px;
}

/* HEADER */
nav {
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
}

/* navbar */
.nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  background-color: #d89997;
}
.logo {
  margin-right: 7rem;
}

nav ul {
  list-style: none;
  display: flex;
  text-transform: capitalize;
}

nav ul li {
  margin-right: 2rem;
}

.nav-container button {
  margin-left: 5rem;
}

/* Header container */

.header-container {
  display: flex;
  background-color: lightgreen;
  justify-content: center;
}

/* Header text container -  hero text, title text and start buttons  */

.header-text-container {
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  flex-wrap: wrap;
  margin-left: auto;
}

.header-text-container h1 {
  font-size: 76px;
  line-height: 6rem;
  color: #171717;
  max-width: fit-content;
}

.title {
  max-width: 36rem;
  line-height: 2rem;
  font-size: 1.4rem;
  background-color: #d89997;
  margin-bottom: 2rem;
}

/* buttons */
.btn-container {
  display: flex;
  background-color: #ffb857;
  margin-right: 22rem;
  width: 80%;
}

.btn-container button {
  font-size: 0.93rem;
}

.start-btn {
  margin-right: 3rem;
  outline: none;
  background-color: var(--dark-grey-clr);
  color: var(--white-clr);
  border: none;
  padding: 0.3rem 1rem;
  border-radius: 20px;
}

.contact-sales-btn {
  background-color: transparent;
  color: var(--dark-grey-clr);
  border: none;
  font-weight: bold;
}

/* Image  container -  iphone and stripe images  */
.img-container {
  background-color: black;
  right: 0;
  padding-left: 6rem;
}

.phone-images {
  position: relative;
}

.iphone-image {
  position: absolute;
  top: 3rem;
  right: 28rem;
  z-index: 5;
}

.stripe-image {
  max-width: 40rem;
  border-radius: 10px;
  z-index: 4;
}
